body, html {
  height: 100%;
  color: #ccc;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-family: 'Titillium Web', sans-serif;
}

.index {
  height: 100%;
  width: 100%;
}

.index > div {
  float: left
}

#map-canvas {
  height: 100%;
  width: 40%;
}

.main {
  margin: 0;
  height: 100%;
  width: 60%;
}

#content {
  padding: 40px;
  height: calc(100% - 70px);
  overflow-x: hidden;
  background: #141719;
}

.header {
  height: 70px;
  width: 100%;
  background: #002a3f;
  h1 {
    margin: 0;
    padding-top: 13px;
    text-align: right;
    padding-right: 20px;
    color: #eee;
    font-weight: 200;
    span {
      color: #999;
    }
  }
}

.address-search-form {
  text-align: center;
  margin-top: 15px;
  padding: 5px;
  background-color: rgba(30, 186, 214, 0.498039);

  .form-group {
    display: inline;
    text-align: center;

    input {
      height: 50px;
      width: 100%;
      font-size: 1.3em;
      border: 0px solid #fff;
      border-radius: 2px;
      padding: 18px 15px 17px;
      background: #fff;
    }
  }
}

.truck-results {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.truck {
  border-top: 1px solid rgba(234, 234, 234, 0.26);
  padding: 20px 15px;
  -o-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .truck-title {
    color: #1EBAD6;
    margin-bottom: -1px;
  }
  .truck-address {
    font-style: italic;
    color: rgb(130, 130, 130);
  }
  .truck-food-items {
    margin-top: 10px;
  }
  p {
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 1.2em;
  }
}

.truck-results > .truck:last-child {
  border-bottom: 1px solid rgba(234, 234, 234, 0.26);
}