body, html {
  height: 100%;
  color: #555;
}

.index {
  height: 100%;
  width: 100%;
}

.index > div {
  float: left
}

#map-canvas {
  height: 100%;
  width: 40%;
}

.main {
  margin: 0;
  height: 100%;
  width: 60%;
}

#content {
  padding: 40px;
  height: 91%;
  overflow: scroll;
}

.header {
  height: 70px;
  width: 100%;
  background: -webkit-linear-gradient(#c41200, #af0606);
  background: -o-linear-gradient(#c41200, #af0606);
  background: -moz-linear-gradient(#c41200, #af0606);
  background: linear-gradient(#c41200, #af0606);
  border-bottom: 1px solid #853330;
  -webkit-box-shadow: 0 0 5px rgba(78,2,2,0.76);
  box-shadow: 0 0 5px rgba(78,2,2,0.76);
  h1 {
    margin: 0;
    padding-top: 12px;
    text-align: right;
    padding-right: 20px;
    color: #eee;
    font-weight: 200;
    span {
      color: #999;
    }
  }
}

.address-search-form {
  text-align: center;
  margin-top: 15px;

  .form-group {
    display: inline;
    text-align: center;

    input {
      height: 50px;
      width: 100%;
      font-size: 1.3em;
    }
  }
}

.truck-results {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.truck {
  border-top: 1px solid #eaeaea;
  padding: 20px 15px;
  &:hover {
    background-color: #fafafa;
  }
  p {
    margin-bottom: 5px;
  }
  p:last-child {
    margin-top: 0;
  }
}

.truck-results > .truck:last-child {
  border-bottom: 1px solid #eaeaea;
}