<h4>Welcome to TruckSpy. Enter an address below to find all of the nearest food trucks!</h4>

<form class='form-inline address-search-form'>
  <div class='form-group'>
    <input type='text' class='form-control'
    name='address' placeholder='1001 Market Street, San Francisco, CA'>
  </div>
</form>

<div class='results'>
</div>